#about {
  max-width: 1080px;
  margin: auto;
  padding: 5% 100px 0;
  box-sizing: border-box;
  overflow-y: scroll;
  max-height: 90%;

  h1 {
    text-align: center;
    color: @faded_white;
    margin: 0 auto 30px;

    span {
      padding: 0 15px;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  p {
    margin: 10px 0;
    color: @faded_white;
    font-weight: 600;
    font-size: 1.4rem;

    span {
      padding: 2px 0;
      background-color: rgba(0, 0, 0, 0.6);
      line-height: 2rem;
    }
  }
}
